.page-header__title {
  font-family: "Myriad Pro Regular", "Arial", sans-serif;
  font-weight: bold;
  font-size: 100px;
  color: @black;
}

.page-header__logo {
  color: @green;
  text-decoration: none;
  font-size: 25px;
  font-family: "Arial", sans-serif;
}